<button nz-button nzType="primary" (click)="visible = true">新增</button>

<!-- 搜索 -->
<div nz-row class="search-wrap">
  <div nz-col nzSpan="6">
    <input type="text" nz-input placeholder="请输入单词" [(ngModel)]="searchText" (keyup.enter)="getWordList()"/>
  </div>
  <div nz-col nzSpan="6" class="search-btn-wrap">
    <button nz-button nzType="primary" [nzLoading]="loading" (click)="getWordList()">搜索</button>
  </div>
</div>

<!-- 列表 -->
<nz-table #basicTable [nzData]="dataSet"
                      [nzLoading]="loading"
                      [nzShowSizeChanger]="true"
                      [nzFrontPagination]="false"
                      [nzTotal]="total"
                      [nzPageSizeOptions]="[5, 10, 20, 50]"
                      [(nzPageIndex)]="currentPage"
                      [(nzPageSize)]="pageSize"
                      (nzPageIndexChange)="getWordList()"
                      (nzPageSizeChange)="getWordList()"
                      [nzScroll]="scrollConfig">
  <thead (nzSortChange)="sort($event)">
    <tr>
      <th nzWidth="200px"
          nzShowSort
          nzSortKey="word">单词</th>
      <th nzWidth="200px">行业分类</th>
      <th>中文意思</th>
      <th>例子</th>
      <th nzWidth="200px">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.word}}</td>
      <td>{{categoryType[data.category]}}</td>
      <td>{{data.chinese}}</td>
      <td>
        <span nz-popover [nzTitle]="null" [nzContent]="data.examples" nzTrigger="hover" [nzOverlayStyle]="cardStyles">{{data.examples | slice:0:16}}{{data.examples ? '...' : ''}}</span>
      </td>
      <td>
        <a (click)="editWordHandle(data)">修改</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-popconfirm nzTitle="Are you sure delete this word?" (nzOnConfirm)="confirm(data.id)">删除</a>
      </td>
    </tr>
  </tbody>
</nz-table>

<!-- <nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="right" nzTitle="录入单词" (nzOnClose)="visible = false">
</nz-drawer> -->

<nz-modal [(nzVisible)]="visible" 
          [nzTitle]="editWord ? '修改单词' : '录入单词'"
          [nzFooter]="null"
          (nzAfterClose)="editWord = null"
          (nzOnCancel)="closeModal()">
  <yc-word-form [categories]="categories" [formData]="editWord" (submitForm)="handleOk($event)" #wordForm></yc-word-form>
</nz-modal>