<nz-layout class="layout">
  <nz-header>
    <div class="logo">YC</div>
  </nz-header>
  <nz-content class="layout-content">
    <nz-layout style="padding:24px 0; background: #fff">
      <nz-sider [nzWidth]="200" style="background:#fff">
        <ul nz-menu [nzMode]="'inline'" style="height:100%">
            <li nz-menu-item routerLink="/word/list" routerLinkActive="ant-menu-item-selected">单词列表</li>
            <li nz-menu-item routerLink="/word/category" routerLinkActive="ant-menu-item-selected">行业分类</li>
        </ul>
      </nz-sider>
      <nz-content style="padding: 0 24px; min-height: 280px;">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
    <nz-footer style="text-align: center;">YiCi ©2019 Implement By Angular</nz-footer>
  </nz-content>
</nz-layout>