<form nz-form [formGroup]="validateForm" (ngSubmit)="handleOk()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">单词</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
      <input formControlName="word" nz-input placeholder="请输入单词" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">单词分类</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
      <nz-select style="width: 200px;" formControlName="category" nzAllowClear nzPlaceHolder="请选择单词分类">
        <nz-option *ngFor="let item of categories" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">中文</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
      <input formControlName="chinese" nz-input placeholder="中文意思" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">例子</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
      <textarea rows="3" nz-input formControlName="examples" placeholder="例子" ></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
      <nz-form-control [nzOffset]="6">
        <button nz-button nzType="primary" [disabled]="!validateForm.valid">确认</button>
      </nz-form-control>
    </nz-form-item>
</form>